.who_are_we_c{
	width: 100vw;
	height: 120vh;
	background-color: white;
	border-top: 1vh solid aquamarine;
}
.body_pic_c{
	width: 35vw;
	height: auto;
	position: relative;
	left: 10vw;
}
.about_us_c{
	width: 100vw;
	height: auto;
	text-align: center;
}
.title_c{
	position: relative;
	top: 2vh;
	font-size: 3vmax;
	font-family: "Pacifico";
	font-weight: bolder;
}
.subtitle_c{
	position: relative;
	left: 20vw;
	width: 60vw;
	font-size: 1.4vmax;
	color: gray;
	font-style: italic;
}
.title_underline_c{
	position: relative;
	top: 1vmin;
	width: 10vw;
	border: 1px solid aquamarine; 
	background-color: aquamarine;
	height: 0.2vh;
}
.body_text_c{
	font-family: "Open Sans";
	width: 40vw;
	font-size: 1vw;
	line-height: 4vh;
}

@media only screen and (max-width: 1200px) {
    .body_pic_c{
        width: 100%;
		height: auto;
		left: 0vw;
    }
	.body_text_c{
		width: 95vw;
		font-size: 2.5vw;
		line-height: 5vmin;
		
	}
	.col-md-12 > .title_c{
		font-size: 5vw;
	}
}
