body{
	padding: 0;
	margin: 0;
}
.overflow{
	overflow: hidden;
}
.header_c{
	background-color: aquamarine;
	width: 100vw;
	height: auto;
}

.header_hidden_c{
	background-color: aquamarine;
	width: 100vw;
	height: auto;
	display: none;
}

.nav_bar_c {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_bar_c> li {
	left: 20vw;
    float: left;
}

.nav_bar_c >li a {
    display: list-item;
    padding: 25px 40px ;
    text-decoration: none;
	cursor: pointer;
	font-size: 1vmax;
	font-weight: bold;
	color: white;
}

.nav_bar_c > li a:hover {
	background-color: white;
	color: aquamarine;
}
.brand_c{
	font-size: 3.2vmax;
	color: white;
	font-family: "Pacifico";	
	cursor: default;
}
.search_c{
	outline: none;
	border: 0px solid white;
	background-color: white;
	color: black;
	width: 75%;
	height: auto;
	padding: 5px 5px;
	outline: none;
    box-sizing: border-box;
	font-size: 1vw;
}
::placeholder{
	color: gray;
	font-size: 1vw;
	line-height: 2vh;
}
.search_btn_c{
	outline: none;
	width: 15%;
	height: auto;
	border: 3px solid white;
    background-color: white;
	color: black;
	font-size: 1vw;
	padding: 2px;
	font-family: none;
	cursor: pointer;
	outline: none;
	text-align: center;
}

.search_wrapper_c{
	padding-top: 10%;
	float: left;
}

.login_c{
	font-size: 1.5vmax;
	font-family: "Open Sans";
	color: white;
	cursor: pointer;
	padding-top: 10%;
}

.login_c >  a:visited {
	color: white;
}

.login_c >  a:link {
	color: white;
}

.slice_caption_c{
	position: relative;
	font-size: 2vw;
}

.brand_alt_c{
	font-size: 3.5vmax;
	color: white;
	font-family: "Pacifico";	
	cursor: default;
}

.menu_c{
	font-size: 2.5vmax;
	color: white;
	font-family: "Pacifico";	
	cursor: pointer;
	position: absolute;
	top: 1vmin;
	z-index: 1;	
}

.toggle_menu_c{
	background-color: aquamarine;
	font-size: 2vmax;
	font-family: none;
	text-align: center;
	display: none;
}

.link_wrapper_c > a:visited {
    color: white;
}

.link_wrapper_c > a:link {
    color: white;
	text-decoration: none;
}

.link_wrapper_c:hover > a {
    color: aquamarine;
}

.link_wrapper_c:hover{
	background-color: white
}

.hidden_c{
	display: none;
}

@media only screen and (max-width: 1000px) {
	.header_hidden_c{
		display: block;
	}
	
	.header_c{
		display: none;
	}
}



