.page {
    margin: 10vw auto;
    width: 17vw;
}

.profile {
    width: 68vw;
}

.cover {
    background-color: blanchedalmond;
}

.circle {
    font-size: 1vw;
    margin: auto;
    position: relative;
    border-radius: 50%;
    text-align: center;
    width: 17vw;
    height: auto;
    padding-top: 8vw;
    padding-bottom: 8vw;
    background: lightblue;
}

.inner-row {
    margin: auto;
}

.cover > button {
    margin-left: 11vw;
}

.upper-row {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
}
