.body_c{
	width: 100vw;
	height: auto;
	background-color: white;
	border-top: 1vh solid rgb(20, 193, 121);
	border-bottom: 1vh solid rgb(20, 193, 121);
}

.event_title_c{
	width: 100vw;
	height: auto;
	background-color: ghostwhite;
	font-family: "Pacifico";
	font-size: 10vmin;
	text-align: center;
	vertical-align: middle;
	line-height: auto;
	font-weight: lighter;
	padding-bottom: 5vmin;
	padding-top: 5vmin;
}

.date_input_c{
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgb(20, 193, 121);
	border-radius: 25px;
	background-color: white;
	color: black;
	width: 100%;
	height: auto;
	padding: 1.4vh 1vw; 
	outline: none;
    box-sizing: border-box;
	font-size: 1vmax;
}

.date_picker_wrapper_c{
	padding-top: 7vmin;
	padding-left: 1vmax;
}
.title_wrapper_c{
	padding-top: 7vmin;
	padding-left: 1vmax;
}

.title_c{
	font-family: "Pacifico";
	font-weight: lighter;
	font-size: 4vmax;
}

#find_event_c{
	outline: none;
	width: 100%;
	height: auto;
	border: 3px solid lightpink;
    background-color: lightpink;
	border-radius: 10%;
	color: white;
	text-align: center;
	line-height: 5vh;
	font-size: 1.5vw;
	cursor: pointer;
}

.invisible{
	opacity: 0;
	user-select: none;
}

.date_text_c{
	font-family: none;
	font-size: 1.5vmax;
	font-weight: bolder;
}

.big_event_wrapper_c{
	padding-top: 8vmin;	
}

.medium_event_wrapper_c{
	background-color: ghostwhite;
	padding:1.5vmax 1.5vmax;
	overflow: hidden;
}

.medium_event_wrapper_c > p{
	font-size: 1vmax;
}

.small_event_wrapper_c{
	padding: 1vmax 1vmax;
}

.event_pic_c{
	width: 100%;
	height: auto;
}

.event_pic_c:hover{
	opacity: 0.7;
}

.event_name_c{
	font-size: 1.2vmax;
	font-family: "Open Sans";
	font-weight: bolder;
}
.event_name_c:hover{
	text-decoration: underline;
}
.event_date_text_c{
	font-size: 0.8vmax;
}

.event_date_text_c > i{
	color: lightpink;	
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

.pagination a{
	display: inline-block;
	background-color: rgb(20, 193, 121);
	color: white;
	padding: 1vh 1.5vh;
}

.pagination a:hover{
	color: rgb(20, 193, 121);
	background-color: white;
}

.pagination {
	padding-top: 2vmin;
	width: auto;
	height: auto;
	float: right;
}

.page_wrapper{
	display: inline-block;
	padding-top: 1vh;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px){
	.medium_event_wrapper_c > p{
		font-size: 1.5vmax;
	}
	.event_date_text_c{
		font-size: 1.4vmax;
	}
	.event_name_c{
		font-size: 2vmax;
	}
}

@media only screen and (max-width: 1000px) {
	.medium_event_wrapper_c > p{
		font-size: 2.5vmax;
	}
	.event_date_text_c{
		font-size: 2.8vmax;
	}
	.event_name_c{
		font-size: 4vmax;
	}
	#find_event_c{
		font-size: 2vw;
	}
	.date_input_c{
		font-size: 2vw;
		padding-left: 2vw;
	}
	.title_c{
		font-size: 5vmax;
	}
	.date_text_c{
		font-size: 2.5vmax;
	}
}

@media only screen and (max-width: 750px) {
	.medium_event_wrapper_c > p{
		font-size: 2vmax;
	}
	.event_date_text_c{
		font-size: 2.2vmax;
	}
	.event_name_c{
		font-size: 3.2vmax;
	}
		#find_event_c{
		font-size: 3.5vw;
	}
	.date_input_c{
		font-size: 3.5vw;
		padding-left: 2vw;
	}
	.date_text_c{
		font-size: 2.5vmax;
	}
}