.sticky_button_up_c {
	width: 3.5vmax;
	height: 3.5vmax;
	position: fixed;
	right: 3vw;
	bottom: 4vh;
	border-radius: 50%;
	border: 2px solid lightgray;
	z-index: 1;	
	text-align: center;
	vertical-align: middle;
	line-height: 3.5vmax;
	color: gray;
	font-size: 2vmax;
	cursor: pointer;
}
.sticky_button_up_c:hover {
	background-color: lightgray;
}
