.post_title_c{
	font-family: "Open Sans";
	font-weight: bolder;
	font-size: 3vw;
}
.post_summary_c{
	font-size: 1vw;
	font-weight: bold;
	font-style: italic;
}
.date_of_post_c{
	font-size: 1vw;
}
.post_text_c{
	font-size: 1vw;
	line-height: 1.5vw;
	padding-bottom: 1vw;
}
.post_img_c{
	width: 100%;
	height: auto;
}
.post_img_caption_c{
	text-align: center;
	font-style: italic;
	font-size: 1vw;
	padding-top: 2vmin;
}
.poster_name_c{
	text-align: right;
	font-family: "Tangerine";
	font-size: 3vw;
}
.num_of_comment_c{
	font-size: 1vw;
	font-family: "Open Sans";
	font-weight: bolder;
}
.sort_by_text_c{
	font-size: 1vw;
	padding-right: 1vw;
}
.sort_by_c{
	width: 110%;
	height: auto;
	font-size: 1vw;
}
.comment_wrapper_c{
	width: 100%;
	height: auto;
	display: flex;
	float: left;
}
.post_mem_img_c{
	width: 100%;
	height: auto;
}
.post_mem_img_wrapper_c{
	width: 11.5%;
	height: auto;
	padding-right: 1vw
}
.comment_c{
	outline: none;
	box-sizing: border-box;
	border: 1px solid gray;
	color: black;
	height: 8.5vmin;
	width: 100%;
	padding: 2vh;
	outline: none;
	padding: 1.5vmin 1.5vmin;
    box-sizing: border-box;
	resize: none;
	font-size: 1.5vw;
	line-height: 5.5vmin;
	overflow: hidden;
}
.post_this_wrapper_c{
	width: 100%;
	height: auto;
}
.post_this_c{
	position: relative;
	bottom: 1vmin;
	box-sizing: border-box;
	border: 1px solid gray;
	background-color: whitesmoke;
	height: 5vmin;
	display: none;
}
.post_btn_c{
	position: relative;
	top: 20%;
	right: 2%;
	outline: none;
	width: 10%;
	height: auto;
    background-color: rgb(20, 193, 121);
	border-radius: 10%;
	color: white;
	text-align: center;
	font-size: 1vw;
	cursor: pointer;
	float: right;
}
.comment_c::placeholder{
	font-size: 1.5vw;
}
.recent_post_header_c{
	background-color: rgb(20, 193, 121);
	font-weight: bold;
	color: white;
	width: 100%;
	height: auto;
	font-size: 1.5vw;
	padding: 2% 5%;
}
.recent_post_c hr{
	width: 90%;
}
.post_tilte_small_c{
	font-size: 1vw;
	font-weight: bold;
}
@media only screen and (max-width: 500px) {
	.post_this_c{
		bottom: 2vmin;
	}
}
@media only screen and (max-width: 800px) (min-width: 500px) {
	.post_this_c{
		bottom: 1.5vmin;
	}
}
@media only screen and (max-width: 1200px) {
	.post_title_c{
		font-size: 5vw;
	}
	.post_summary_c{
		font-size: 3vw;
		font-weight: bold;
		font-style: italic;
	}
	.date_of_post_c{
		font-size: 2vw;
	}
	.post_text_c{
		font-size: 2vw;
		line-height: 3.5vw;
	}
	.post_img_caption_c{
		font-size: 2.5vw;
	}
	.poster_name_c{
		font-size: 5vw;
	}
	.num_of_comment_c{
		font-size: 2.5vw;
	}
	.sort_by_text_c{
		font-size: 2.5vw;
	}
	.sort_by_c{
		width: 120%;
		font-size: 2.5vw;
	}
	.comment_c{
		font-size: 2.5vw;
		overflow: hidden;
	}
	.comment_c::placeholder{
		font-size: 2.5vw;
	}
	.recent_post_wrapper_c{
		padding-top: 5vw;
	}
	.recent_post_header_c{
		font-size: 5vw;
	}
	.post_tilte_small_c{
		font-size: 3.5vw;
	}
	.post_btn_c{
		padding: 0.5%;
		font-size: 1.5vw
	}
}