/*------Header------*/
.main_da {
	position: relative;
	width: calc(100% - 240px);
	float: right;
	background-color: #14C179;
}
.header_da {
	position: relative;
	height: 60px;	
}
.header_da h3 {	
	padding: 0;
	float: left;
	line-height: 60px;
	margin-left: 40px;
	font-size: 25px;
	letter-spacing: 3px;
	font-family: "Nova Mono";
}
.inner_right_da {
	float: right; 
}
.inner_right_da i {
	font-size: 15px; 
	color: black;	
}
.inner_right_da ul {
	list-style: none;	
	margin: 0 40px 0 0;
	padding: 0;
	line-height: 60px;		
}
.inner_right_da ul > li {
	position: relative;
	display: block;	
	float: left;
	padding: 0 10px 0 10px;
}

/*-------dropdown------*/
.dropdown_da {
	position: relative;
	margin: 0 !important;	
	width: 15px;
}
.wrap_dropdown_da {
	position: absolute;
	background-color: #FFFFFF;	
	margin: 0 !important;
	right: 15px;
	display: none;
	z-index: 10;	
	border-radius: 5px;  	
}
.wrap_dropdown_da > li {
	/*position: relative;*/
	width: 150px;	
	padding: 0 !important;		
	background-color: #FFFFFF;	
	border-radius: 5px;
}
.wrap_dropdown_da > li > a > i {
	margin: 0 10px 0 20px;
	color: black;
}
.wrap_dropdown_da > li > a > span {
	color: black;
}

.wrap_dropdown_da > li:hover span {
	opacity: 0.7;
}
.wrap_dropdown_da > li:hover i {
	opacity: 0.7;
}