body {
	background-color: white;
	position: relative;
	margin: 0 !important;
}
a {text-decoration: none !important;}
	
i {
	font-family: 'fontawesome' !important;
}
h3 {
	margin: 0;	
}
ul, ol {list-style: none;}
 
/*--------Left Menu------- */
.wrapper_da {
	top: 0;
	position: relative;
	height: 100vh;
}
.wrap_menu_da {	
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 17.791vw;   /*240px*/
	height: 100vh;		
	z-index: 10;
}

.menu_logo_da {	
	width: 14.8258vw;  /*200px*/
	height: 70px;
	margin: 0 1.48258vw 0 1.48258vw;
	padding-top: 20px;
}	
.menu_logo_da img {	
	width: 50px;   
	height: 50px; 	
	float: left;
}
.menu_logo_da h3 {		
	float: left;		
	line-height: 50px;
	padding-left: 20px;
	color: #FF1461;
	font-size: 24px;
	font-family: "Pacifico";
	font-weight: 300;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.wrap_menu_da .line_da {
	clear: left;
	height: 1px;
	width: 17.791vw;
	background-color: gray;
	margin: 25px 0 30px 0;
}

.wrap_menu_da ul {
	list-style: none;
	display: table;	
	padding: 0;
	margin: 0;
	width: 100%;
}
.wrap_menu_da ul > li {
	position: relative;
	display: block;	
	border-bottom: 1.5px solid #EAEAEA;
	padding: 0 1.853225vw 0.74123vw 1.853225vw;    /*20px*/
	width: 17.791vw;  
	height: 50px;
	
}
.wrap_menu_da ul > li > a {
	display: block;
	position: relative;	
}
.menu1_da i, .menu2_da i, .menu3_da i, .menu4_da i, .menu5_da i {	
	color: black;
	font-size: 30px;
	float: left;
	margin-right: 1.111935vw;    /*15px*/
	opacity: 0.6;
	line-height: 50px;
}
.menu1_da p, .menu2_da p, .menu3_da p, .menu4_da p, .menu5_da p {	
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;	
	margin: 0;
	line-height: 50px;	
	opacity: 0.6;
	
	/*display: none;*/

}
.menu1_da:hover i, .menu1_da:hover p, .menu2_da:hover i, .menu2_da:hover p, 
.menu3_da:hover i, .menu3_da:hover p, .menu4_da:hover i, .menu4_da:hover p,
.menu5_da:hover i, .menu5_da:hover p {
	opacity: 1;
	color: blue;
	transition-delay: 0.1s;
	transition-duration: 0.4s;
}
.menu_da {
	background: linear-gradient(to right, white 50%, #EAEAEA 50% );
	background-size: 200% 100%;
	background-position:left bottom;
	transition: background-position 1.5s ease;
}
.menu_da:hover {
	background-position:right bottom;
}
.selected_da i, .selected_da p {
	opacity: 1;
	color: blue;
}
.selectedBackground_da {	
	background-position:right bottom;	
}

/*---------additional anime------------*/
.menu_logo_da h3 {
	animation: changecolor 48s infinite;  /*48s*/
}
@keyframes changecolor {
	8.333333333% {color: #FF1461 /* Red */}
	16.66666666% {color: #FF7C72 /* Orange */}
	25% {color: #FBF38C /* Yellow */}
	33.333333333% {color: #A6FF8F /* Citrus */}
	41.666666666% {color: #18FF92 /* Green */}
	50% {color: #1CE2B2 /* Darkgreen */}
	58.333333333% {color: #5EF3FB /* Turquoise */}
	66.666666666% {color: #61C3FF /* Lightblue */}
	75% {color: #5A87FF /* Blue */}
	83.333333333% {color: #8453E3 /* Purple */}
	91.666666666% {color: #C26EFF /* Lavender */}
	100% {color: #FB89FB /* Pink */}
}


/*------Admin Header------*/
.main_da {
	position: relative;
	width: calc(100% - 17.791vw);
	float: right;
	background-color: #14C179;
}
.header_da {
	position: relative;
	height: 60px;	
}
.header_da h3 {	
	padding: 0;
	float: left;
	line-height: 60px;
	margin-left: 2.96516vw;      /*40px*/
	margin-top: 0 !important;
	margin-bottom: 0 !important;	
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 3px;
	font-family: "Nova Mono";
}
.inner_right_da {
	float: right; 
}
.inner_right_da i {
	font-size: 15px; 
	color: black;	
}
.inner_right_da ul {
	list-style: none;	
	margin: 0 2.96516vw 0 0;    /*40px*/
	padding: 0;
	line-height: 60px;		
}
.inner_right_da ul > li {
	position: relative;
	display: block;	
	float: left;
	padding: 0 10px 0 10px;
}

/*-------dropdown------*/
.dropdown_da {
	position: relative;
	margin: 0 !important;	
	width: 15px;
}
.wrap_dropdown_da {
	position: absolute;
	background-color: #FFFFFF;	
	margin: 0 !important;
	right: 0;
	display: none;
	z-index: 10;	
	border-radius: 5px;  	
}
.wrap_dropdown_da > li {
	/*position: relative;*/
	width: 150px;	
	padding: 0 !important;		
	background-color: #FFFFFF;	
	border-radius: 5px;
}
.wrap_dropdown_da > li > a > i {
	margin: 0 10px 0 20px;
	color: black;
}
.wrap_dropdown_da > li > a > span {
	color: black;
}

.wrap_dropdown_da > li:hover span {
	opacity: 0.7;
}
.wrap_dropdown_da > li:hover i {
	opacity: 0.7;
}



/*----------------DASHBOARD----------------*/
.wrap_content_da {
	position: relative;
	background-color: #EAEAEA;
	height: calc(100vh + 120px);	
	border-top: 1.5px solid #DBDDDC;	
}

/*Active*/
.active_da {display: block;}
.hide_da {display: none;}


.wrap_content_da h1 {
	margin: 0;
}
.dashboard_da {
	position: relative;
	width: 100%;
	height: calc(100vh - 100px);	
}
.dashboard_da h3{
	font-family: "Roboto";
	padding: 15px 0 0 2.22387vw;     /*15px 0 0 30px*/
	font-weight: 300;
	color: #333333;
	font-size: 32px;
}
.dashboard_da .space_da {
	padding-top: 1.5vw;   /*50px*/
}

.container_da {	
	margin: 0 4.44774vw 0 4.44774vw;   /*60px*/
}
.container_da > ul {
	margin: 0; 
	padding: 0; 
	float: left;	
}
.container_da > ul > li {
	margin: 0 2.14974vw 10px 2.14974vw;    /*29px*/
}
.overview_da {
	position: relative; 
	height: 100px;
}
.container_da > h4 {
	font-family: "Roboto";
	font-weight: 300;
	color: grey;
	font-size: 26px;	
}
.dashboard_da .overview_da h4 {
	font-family: "Roboto";
	font-weight: 300;
	color: grey;
	font-size: 26px;
	margin: 0;
}
.overview_da > ul {float: left; width: 100%; margin-top: 10px;}
.overview_da > ul li {
	/*display: flex;
	justify-content:center;
	align-content: center;*/
	float: left;
	width: 32%;
	background-color: #ffffff;
	border: 0.25px solid #DDDFE2;
	padding: 10px;
}
.overview_da > ul > li > center > h5 {
	font-family: "Roboto";	
	margin-bottom: 0;
}
.overview_da > ul > li > center > p {
	color: #90949c;
}
.overview_da > ul > li > center > span {
	color: #4b4f56;
	font-size: 28px;
}

.news_da {
	position: relative;
	width: 25%;
	height: auto;
	background-color: white;
	border: 1.5px solid #14C179;
	border-radius: 4%;
	padding: 0 10px 0 10px;	
	float: left;	
}
.news_da h4 {
	margin: 10px 0 10px 0;
	font-family: "Roboto";
	text-align: center;
	font-family: none, sans-serif;
	color: grey;	
}

.news_da h4:hover {
	animation: swing 1s;
	transform-origin: top center;
}
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.news_da img {
	width: 100%;
	height: auto;
}
.news_da ol {
	padding: 0;
}
.news_da ol li {
	font-size: 16px;
	font-family: none;
	font-weight: lighter;
	font-style: italic;
	margin: 0;	
	padding: 0 0 3px 0;
	list-style: none;
}

.event_da {
	position: relative;
	width: 25%;
	height: auto;
	background-color: white;
	border: 1.5px solid #14C179;
	border-radius: 4%;
	padding: 0 10px 0 10px;	
	float: left;
}
.event_da h4 {
	margin: 10px 0 10px 0;
	font-family: "Roboto";
	text-align: center;
	font-family: none, sans-serif;
	color: grey;	
}
.event_da h4:hover {
	animation: swing 1s;
	transform-origin: top center;
}
.event_da img {
	width: 100%;
	height: auto;
}
.event_da ol {
	padding: 0;
}
.event_da ol li {
	font-size: 16px;
	font-family: none;
	font-weight: lighter;
	font-style: italic;
	margin: 0;	
	padding: 0 0 3px 0;
	list-style: none;
}

.member_da {
	position: relative;
	width: 25%;
	height: auto;
	background-color: white;
	border: 1.5px solid #14C179;
	border-radius: 4%;
	padding: 0 10px 0 10px;	
	float: left;
}
.member_da h4 {
	margin: 10px 0 10px 0;
	font-family: "Roboto";
	text-align: center;
	font-family: none, sans-serif;
	color: grey;	
}
.member_da img {
	width: 100%;
	height: auto;
}
.member_da ol {
	padding: 0;
}
.member_da ol li {
	font-size: 16px;
	font-family: none;
	font-weight: lighter;
	font-style: italic;
	margin: 0;	
	padding: 0 0 3px 0;
	list-style: none;
}

/*---------NEWS---------*/
.new_da {
	position: relative;
	width: 100%;
	height: calc(100vh - 75px);	
}
.new_da h3{
	font-family: "Roboto";
	padding: 15px 0 0 2.22387vw;     /*15px 0 0 30px*/
	font-weight: 300;
	color: #333333;
	font-size: 32px;
}
.new_da .space_da {
	padding-top: 2.5vw;   /*50px*/
}
.new_ul_da {
	list-style-type: square;
	float: none;
	width: 100%;
}
.new_ul_da > li {
	float: none;
}
.new_ul_da > li h4 {
	font-family: "Roboto";
	font-weight: 300;
	color: grey;
	font-size: 26px;
}
.new_ul_da li form {
	font-size: 25px;
	margin: 0;
}
.new_ul_da li form input {
	font-size: 15px;
	border: 2px solid #14C179 ;
	border-radius: 10px;
}

/*---------EVENT---------*/
.event_main_da {
	position: relative;
	width: 100%;
	height: calc(100vh - 75px);	
}
.event_main_da h3{
	font-family: "Roboto";
	padding: 15px 0 0 2.22387vw;     /*15px 0 0 30px*/
	font-weight: 300;
	color: #333333;
	font-size: 32px;
}
.event_main_da .space_da {
	padding-top: 2.5vw;   /*50px*/
}
.event_main_ul_da {
	list-style-type: square;
	float: none;
	width: 100%;
}
.event_main_ul_da > li {
	float: none;
}
.event_main_ul_da > li h4 {
	font-family: "Roboto";
	font-weight: 300;
	color: grey;
	font-size: 26px;
}
.event_main_ul_da li form {
	font-size: 25px;
	margin: 0;
}
.event_main_ul_da li form input {
	font-size: 15px;
	border: 2px solid #14C179 ;
	border-radius: 10px;
}

/*-------RESPONSIVE------*/

/*------------------------------------DASHBOARD----------------------------------------------*/
@media only screen and (max-width: 1250px) {
	#title_da {
		display: none;
	}
}
@media only screen and (max-width: 500px) {	
	#logo_da {
		width: 40px;
		height: 40px;
	}
	.line_da {
		margin: 15px 0 20px 0 !important;
	}
	.menu_da {
		display: flex !important;
		justify-content: center !important;
		align-content: center;
	}	
}
@media only screen and (min-width: 950px) {
	.dashboard_ul_da {		
		display: flex;
		justify-content: center;
		align-content: center;
	}	
}
@media only screen and (max-width: 1370px) {
	.wrap_content_da {		
		height: calc(100vh + 12vw);  
	}
}
@media only screen and (max-width: 950px) {
	.dashboard_inner_da {
		width: 60%;		
  		left: 46%;
  		transform: translate(-50%);
	}
	.main_da {
		height: 100vh !important;
	}
	.wrap_content_da {		
		height: calc(100vh + 160vw );   /*860px*/
	}
}
@media only screen and (max-width: 650px) {	
	.overview_da ul {
		padding-left: 6vw;
	}
	.overview_da ul li {
		clear: left;
		width: 90%;
	}
}
@media only screen and (max-width: 650px) {
	.wrap_content_da {		
		height: calc(100vh +  200vw);  
	}
}
/*@media only screen and (max-width: 950px) {   
	.wrap_content_da {		
		height: calc(100vh + 210vw);   
	}
	.dashboard_inner_da {
		width: 70%;		
  		left: 46%;
  		transform: translate(-50%);
	}
}*/
@media only screen and (max-width: 500px) {
	.wrap_content_da {		
		height: calc(100vh + 230vw);   
	}
}
@media only screen and (max-width: 400px) {	
	.wrap_content_da {		
		height: calc(100vh + 250vw);   
	}
	
}
@media only screen and (max-width: 340px) {	
	.wrap_content_da {		
		height: calc(100vh + 260vw); 		  
	}	
	.dashboard_ul_da li ol li {
		font-size: 14px;
	}
}
@media only screen and (max-width: 310px) {	
	.wrap_content_da {		
		height: calc(100vh + 270vw); 		  
	}	
	.dashboard_ul_da li ol li {
		font-size: 12px;
	}
}


/*------------------------------------NEWS----------------------------------------------*/
@media only screen and (max-width: 550px) {	
	.new_ul_da li form {
		font-size: 14px;
		margin: 0;
	}
	.new_ul_da li form input {
		font-size: 14px;		
	}
}
/*------------------------------------EVENT----------------------------------------------*/
@media only screen and (max-width: 670px) {	
	.event_main_ul_da li form {
		font-size: 18px;
		margin: 0;
	}
	.event_main_ul_da li form input {
		font-size: 14px;		
	}
}
@media only screen and (max-width: 600px) {	
	.event_main_ul_da li form {
		font-size: 16px;
		margin: 0;
	}
	.event_main_ul_da li form input {
		font-size: 12px;		
	}
}
@media only screen and (max-width: 540px) {	
	.event_main_ul_da li form {
		font-size: 20px;
		margin: 0;
	}
	.event_main_ul_da li form input {
		font-size: 16px;	
		width: 100%;	
	}
}