#profile_pic_duc {
    width: 43px;
}

#avatar_wrapper_duc {
    padding-top: 4%;
}

.nav > li > a {
    color: black;
}

.nav-pills>li.active>a.orange_duc, .nav-pills>li.active>a.orange_duc:focus, .nav-pills>li.active>a.orange_duc:hover {
    background: #EE9400;
}

.nav>li>a.orange_duc:focus, .nav>li>a.orange_duc:hover {
    background: #EE9400;
}

.sidebar_hidden_duc {
    display: none;
}

@media only screen and (max-width: 1000px) {
	.sidebar_hidden_duc{
		display: block;
	}
	
	.sidebar_duc{
		display: none;
	}
}