.footer_c{
	width: 100vw;
	height: auto;
	background-color: white;
	padding-bottom: 5vmin;
	padding-top: 3vmin;
}

.footer_title_c{
	font-size: 2vw;
	font-family: "Pacifico";
}

.footer_text_c{
	font-size: 1vw;
}

.icon_holder_c{
	letter-spacing: 0.6vw;
	font-size: 2vw;
}
.icon_holder_c > a:visited {
    color: gray;
}

.icon_holder_c > a:link {
    color: gray;
	text-decoration: none;
}

.icon_holder_c > a:hover {
	color: rgb(20, 193, 121);
}

.name_input_c, .email_input_c{
	outline: none;
	border: 2px solid rgb(20, 193, 121);
	border-radius: 25px;
	background-color: white;
	color: black;
	width: 100%;
	height: auto;
	padding: 1vmin 1.5vmin;
	outline: none;
	font-size: 0.8vmax;
}

label.error{
	padding-top: 1vmin;
	font-weight: lighter;
	font-size: 1vw;
	font-style: italic;
}

.text_input_c{
	position: relative;
	font-weight: bold;
	font-family: none;
<<<<<<< HEAD
	font-size: 1vw;
}

.message_area_c{
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgb(20, 193, 121);
	border-radius: 25px;
	background-color: white;
	color: black;
	height: 10vmin;
	width: 100%;
	padding: 2vh;
	outline: none;
	padding: 1.5vmin 1.5vmin;
    box-sizing: border-box;
	resize: none;
	font-size: 0.8vmax;
}

#send_message_c{
	outline: none;
	width: 100%;
	height: auto;
	border: 3px solid lightpink;
    background-color: lightpink;
	border-radius: 10%;
	color: white;
	text-align: center;
	line-height: 4vmin;
	font-size: 1vw;
	cursor: pointer;
}

@media only screen and (max-width: 750px) {
	#send_message_c{
		position: relative;
		left: 65vw;
	}
}

@media only screen and (max-width: 1000px){
	.footer_title_c{
		font-size: 10vw;
	}
	.footer_text_c{
		font-size: 5vw;
	}
	.icon_holder_c{
		letter-spacing: 1vw; 
		font-size: 10vw;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 1000px){
	.footer_title_c{
		font-size: 8vw;
	}
	.footer_text_c{
		font-size: 2vw;
	}
	.icon_holder_c{
		letter-spacing: 1vw; 
		font-size: 6.5vw;
	}
}

@media only screen and (max-width: 1200px) {
    .message_area_c{
        width: 95%;
		height: 20vh;
    }
	.name_input_c, .email_input_c{
		width: 93%;
		height: auto;
		font-size: 2.5vmax;
	}
	label.error{
		font-size: 2.5vmax;
	}
	.text_input_c{
		font-size: 3vw;
	}
	.contact_form_c{
		font-size: 5vw;
	}
	.left_footer_c > h1{
		font-size: 10vw;
	}

	.left_footer_c > h3{
		font-size: 5vw;
	}

	.left_footer_c > p{
		font-size: 2.5vw;
	}
	#send_message_c{
		font-size: 3.5vw;
	}
	.name_input_c::placeholder, .email_input_c::placeholder, .message_area_c::placeholder{
		font-size: 2.5vmax;
	}
}