body {
	background-color: white;
	position: relative;
	margin: 0 !important;
}
a {text-decoration: none;}
	
i {
font-family: 'fontawesome' !important;
}
h3 {
	margin: 0;	
}
 
/*--------Menu------- */
.wrapper_da {
	top: 0;
	position: relative;
	min-height: 100vh;
}
.wrap_menu_da {	
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 24s0px;
	min-height: 100vh;		
	z-index: 10;
}

.menu_logo_da {	
	width: 200px;
	height: 50px;
	margin: 0 auto 0 auto;
	padding-top: 20px;
}	
.menu_logo_da img {	
	width: 50px;
	height: 50px;	
	float: left;
}
.menu_logo_da h3 {		
	float: left;		
	line-height: 50px;
	padding-left: 20px;
	color: #FF1461;
	font-size: 24px;
	font-family: "Pacifico";
	font-weight: 300;
}

.wrap_menu_da .line_da {
	clear: left;
	height: 1px;
	width: 240px;
	background-color: gray;
	margin: 25px auto 30px auto;
}

.wrap_menu_da ul {
	list-style: none;
	display: table;	
	padding: 0;
	margin: 0;
}
.wrap_menu_da ul > li {
	position: relative;
	display: block;	
	border-bottom: 1.5px solid #EAEAEA;
	padding: 0 25px 10px 25px;
	width: 190px;
	height: 50px;
	/*background-color: #EAEAEA;*/
}
.wrap_menu_da ul > li > a {
	display: block;
	position: relative;	
}
.menu1_da i, .menu2_da i, .menu3_da i, .menu4_da i, .menu5_da i {	
	color: black;
	font-size: 30px;
	float: left;
	margin-right: 15px;
	opacity: 0.6;
	line-height: 50px;
}
.menu1_da p, .menu2_da p, .menu3_da p, .menu4_da p, .menu5_da p {	
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;	
	margin: 0;
	line-height: 50px;	
	opacity: 0.6;
}
.menu1_da:hover i, .menu1_da:hover p, .menu2_da:hover i, .menu2_da:hover p, 
.menu3_da:hover i, .menu3_da:hover p, .menu4_da:hover i, .menu4_da:hover p,
.menu5_da:hover i, .menu5_da:hover p {
	opacity: 1;
	color: blue;
	transition-delay: 0.1s;
	transition-duration: 0.4s;
}
.menu_da {
	background: linear-gradient(to right, white 50%, #EAEAEA 50% );
	background-size: 200% 100%;
	background-position:left bottom;
	transition:all 3s ease;
}
.menu_da:hover {
	 background-position:right bottom;
}
.selected_da i, .selected_da p {
	opacity: 1;
	color: blue;
}
.selectedBackground_da {	
	background-position:right bottom;
}

/*---------additional anime------------*/
.menu_logo_da h3 {
	animation: changecolor 12s infinite;  /*48s*/
}
@keyframes changecolor {
	8.333333333% {color: #FF1461 /* Red */}
	16.66666666% {color: #FF7C72 /* Orange */}
	25% {color: #FBF38C /* Yellow */}
	33.333333333% {color: #A6FF8F /* Citrus */}
	41.666666666% {color: #18FF92 /* Green */}
	50% {color: #1CE2B2 /* Darkgreen */}
	58.333333333% {color: #5EF3FB /* Turquoise */}
	66.666666666% {color: #61C3FF /* Lightblue */}
	75% {color: #5A87FF /* Blue */}
	83.333333333% {color: #8453E3 /* Purple */}
	91.666666666% {color: #C26EFF /* Lavender */}
	100% {color: #FB89FB /* Pink */}
}
