body {
	background-color: white;
	position: relative;
	margin: 0 !important;
}
a {text-decoration: none;}
	
i {
font-family: 'fontawesome' !important;
}
h3 {
	margin: 0;	
}
 
/*--------Menu------- */
.wrapper {
	top: 0;
	position: relative;
	min-height: 100vh;
}
.wrap_menu {
	/*background-color: #24333C;*/
	background-color: #273238;
	position: absolute;
	top: 0;
	left: 0;
	width: 24s0px;
	min-height: 100vh;	
	/*box-shadow: 5px 0 10px grey;*/
	z-index: 10;
}

.menu_logo {	
	width: 200px;
	height: 50px;
	margin: 0 auto 0 auto;
	padding-top: 20px;
}	
.menu_logo img {	
	width: 50px;
	height: 50px;	
	float: left;
}
.menu_logo h3 {		
	float: left;		
	line-height: 50px;
	padding-left: 20px;
	color: white;
	font-size: 24px;
	font-family: "Pacifico";
	font-weight: 300;
}

.wrap_menu .line {
	clear: left;
	height: 1px;
	width: 240px;
	background-color: gray;
	margin: 25px auto 35px auto;	
}

.wrap_menu ul {
	list-style: none;
	display: table;
	padding: 0 25px 0 25px;
	width: 190px;
}
.wrap_menu ul > li {
	position: relative;
	display: block;	
}
.wrap_menu ul > li > a {
	display: block;
	position: relative;
}
.menu1 i, .menu2 i, .menu3 i, .menu4 i, .menu5 i {	
	color: #B3B1AE;
	font-size: 30px;
	float: left;
	margin-right: 15px;
}
.menu1 p, .menu2 p, .menu3 p, .menu4 p, .menu5 p {	
	font-family: Arial, sans-serif;
	color: #B3B1AE;
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;	
	margin: 0;
}
.menu1:hover i, .menu1:hover p, .menu2:hover i, .menu2:hover p, 
.menu3:hover i, .menu3:hover p, .menu4:hover i, .menu4:hover p,
.menu5:hover i, .menu5:hover p {
	color: white; 
	transition-delay: 0.1s;
	transition-duration: 0.4s;
}
.menu2, .menu3, .menu4, .menu5 {padding-top: 30px;}