.body_c{
	border-top: 1vh solid rgb(20, 193, 121); 
	border-bottom: 1vh solid rgb(20, 193, 121); 
	width: 100vw;
	height: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.news_title_c{
	width: 100vw;
	height: auto;
	background-color: ghostwhite;
	font-family: "Pacifico";
	font-size: 10vmin;
	text-align: center;
	vertical-align: middle;
	line-height: auto;
	font-weight: lighter;
	padding-bottom: 5vmin;
	padding-top: 5vmin;
}

<<<<<<< HEAD
.news_background_c{
	padding: 0vmax 1.5vmax 1.5vmax;
	width: auto;
	height: auto;
	background-color: ghostwhite;
}

.news_pic_c{
	width: 100%;
	height: auto;
}

.news_pic_c:hover{
	opacity: 0.7;
}

.small_news_title_c{
	font-size: 2.5vmax;
	font-family: "Open Sans";
	font-weight: bolder;
}
.small_news_title_c:hover{
	text-decoration: underline;
}

.news_info_text_c{
	font-size: 1.5vmax;
	font-family: none;
	font-weight: lighter;
	font-style: italic;
}
.btn_view_more_c{
	box-sizing: border-box;
	border-radius: 25px;
	background-color: rgb(20, 193, 121);
	color: white !important;
	width: 30%;
	height: auto;
	padding: 1.5vmin;
	outline: none;
    box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	line-height: 2vmin;
	font-size: 1.5vmax;
	display: block;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

.pagination a{
	display: inline-block;
	background-color: rgb(20, 193, 121);
	color: white;
	padding: 1vh 1.5vh;
}

.pagination a:hover{
	color: rgb(20, 193, 121);
}

.pagination {
	padding-top: 2vmin;
	width: auto;
	height: auto;
}

.page_wrapper{
	display: inline-block;
	padding-top: 1vh;
}

@media only screen and (max-width: 950px) {
	.btn_view_more_c{
		width: 35vw;
		height: 8vmin;
		font-size: 2.5vmax;
		line-height: 4vmin;
	}
	.date_text_c{
		font-size: 3.5vw;
	}
	.title_c{
		font-size: 6.5vw;
	}
	.small_news_title_c{
		font-size: 3vmax;
	}
	.news_date_text_c{
		font-size: 2vmax;
	}
	.news_info_text_c{
		font-size: 2.5vmax;
	}
	#find_news_c{
		font-size: 3.5vw;
		padding: 5% 8%;
	}
	.date_input_c{
		font-size: 3vw;
		padding: 2vh 2.5vw;
	}
	.date_input_c::placeholder{
		font-size: 3vw;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 950px){
	#find_news_c{
		font-size: 2vw;
		padding: 3% 6%;
	}
	.date_input_c{
		font-size: 2vw;
		padding: 2vh 2.5vw;
	}
	.date_input_c::placeholder{
		font-size: 2vw;
	}
}
